html{
    width: 100%;
    height: 100%;
}
#maincontainer{
    height: 100%;
    width: 100%;
}
#navbar{
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: aqua;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    position: absolute;
    top: 5px;
}
